.xbtooltip 
{ 
position: absolute; 
display: none; 
} 
.blau
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #006EA7; 
}
.gelb
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #c6c600; 
}
.weiss
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #B7B7B7; 
}
.gruen
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #5B933D; 
}
.lila
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #8D11BE; 
}
a
{
	font-size: 13px; 
	font-family: verdana, arial;
	color: #ff8040;
	text-decoration: none; 
}
tr.poste td{font-family: verdana, arial; font-size: 13; font-weight: bold; color: #c58954;}
tr.poste:hover {background: #773000;}
tr.postge td{font-family: verdana, arial; font-size: 11; color: #b0733c;}
tr.postge:hover {background: #773000;}

.speciala
{
	font-size: 16px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #ff8040;
	text-decoration: none; 
}
td
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #684323; 
}
table.klein td{border:1px solid #000000; background-color:#22130d; text-align:center; padding-top:5px; padding-bottom:5px;}
td.heute {border:1px solid #000000; background-color:#22130d; text-align:center; color:#ff8040; padding-top:5px; padding-bottom:5px;}
th {border:1px solid #000000; background-color:#120c07}

.normal
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #684323; 
}
.small
{
	font-size: 11px; 
	font-family: verdana, arial;
	color: #684323; 
}
.tabklein
{
	font-size: 10px; 
	font-family: verdana, arial;
	color: #54371d; 
}
.field
{ 
	background-image:url(/web/20160426030041im_/http://slombia.de/img/hg3.jpg);
	width:150px; 
  	border-width:2px;
  	border-style:ridge;
  	border-color:#ff9f40;
} 
.bigfield
{ 
	background-image:url(/web/20160426030041im_/http://slombia.de/img/hg3.jpg);
	width:210px; 
  	border-width:2px;
  	border-style:ridge;
  	border-color:#ff9f40;
}
.wbigfield
{ 
	background-image:url(/web/20160426030041im_/http://slombia.de/img/hg3.jpg);
	width:320px; 
  	border-width:2px;
  	border-style:ridge;
  	border-color:#ff9f40;
}
select
{ 
	background-image:url(/web/20160426030041im_/http://slombia.de/img/hg3.jpg);
  	border-width:2px;
  	border-style:ridge;
  	border-color:#ff9f40;
}  
.area { color:#915f31; font-family: verdana, arial; font-size:12px; border: 2px ridge #ff9f40; background-color: #000000; padding:5px; width:671px; height:280px; } 
.send
{ 
	background-image:url(/web/20160426030041im_/http://slombia.de/img/hg3.jpg);
	border:3px 
	ridge #ff9f40; 
} 
.box { background-color:#000000; border:1px solid #808080; } 
.radio { background-color:#000000; border:1px solid #000000; } 

input,select
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #f7c724;
	background-color: #804000; 
}
.modeingriff
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #684323;
	background-color: #3e1f00; 
}
.hallo
{
	font-size: 14px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #ff8040; 
}
.theme
{
	font-size: 14px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #a76c38;
}
.besonders
{
	font-size: 13px; 
	font-family: verdana, arial;
	color: #b0733c;
}
.fehler
{
	font-size: 11px; 
	font-family: verdana, arial;
	color: #d20000; 
}
.month
{
	font-size: 13px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #684323; 
}
.l
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #fbca04; 
}
.g
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #00c600; 
}
.a
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #0080ff; 
}
.b
{
	font-size: 12px; 
	font-family: verdana, arial;
	color: #c0c0c0; 
}














.titel 
{
	font-size: 14px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #de8421;
}


















.menue 
{
	font-size: 14px; 
	font-weight: bold;
	font-family: verdana, arial;
	color: #ca6500;
	text-decoration: none; 
}
.rs
{
	font-size: 13px; 
	font-family: verdana, arial;
	color: #F0BE28 
}
.bb
{
	font-size: 13px; 
	font-family: verdana, arial;
	color: #919191 
}
.bh
{
	font-size: 13px; 
	font-family: verdana, arial;
	color: #0D7F08 
}










textarea 
{
	width: 230px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff;
}
.eingabe 
{
	width: 130px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff; 
}
.eingabe_klein 
{
	width: 30px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-family: arial;
	color: #ffffff; 
}
.eingabe_mittel 
{
	width: 60px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff; 
}

.eingabe_login 
{
	width: 170px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff; 
}
.eingabe_klon 
{
	width: 100px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff; 
}

.datum 
{
	width: 460px;
	border-right: #808080 1px solid;
	border-left: #808080 1px solid;  
	border-top: #808080 1px solid; 
	border-bottom: #808080 1px solid;
	background-color: #202020; 
	font-size: 8pt;
	font-weight: bold;
	font-family: arial;
	color: #c0c0c0; 
}


/*
     FILE ARCHIVED ON 03:00:41 Apr 26, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:01:13 Sep 22, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 380.64
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.097
  RedisCDXSource: 0.763
  esindex: 0.008
  LoadShardBlock: 358.146 (3)
  PetaboxLoader3.datanode: 278.022 (4)
  CDXLines.iter: 19.259 (3)
  load_resource: 148.095
  PetaboxLoader3.resolve: 133.91
*/